{% extends 'base.html' %}
{% load widget_tweaks %}

{% block service_block %}{% if type != 'S' %}style="visibilty: hidden; display: none;"{% endif %}{% endblock %}
{% block admin_block %}{% if type != 'A' %}style="visibilty: hidden; display: none;"{% endif %}{% endblock %}

{% block title_block %}Dashboard{% endblock %}

{% block content_block %}

    <div class="container has-text-centered">

        <h3 class="subtitle is-4">PLAN YOUR TRIP</h3>
        <div class="columns">
            <div class="column">
                <div class="box">
                    **Fancy Hotel Link**
                </div>
            </div>
            <div class="column">
                <div class="box">
                    **Fancy Bus Link**
                </div>
            </div>
        </div>

        <div class="section">
            <h3 class="subtitle is-4">Why **SERVICE_NAME**</h3>
            <div class="section box">
                YET TO BE IMPLEMENTED
            </div>
        </div>
    </div>

{% endblock %}
