{% extends 'base.html' %}
{% load widget_tweaks %}

{% block service_block %}{% if type != 'S' %}style="visibilty: hidden; display: none;"{% endif %}{% endblock %}
{% block admin_block %}{% if type != 'A' %}style="visibilty: hidden; display: none;"{% endif %}{% endblock %}

{% block title_block %}Services{% endblock %}

{% block content_block %}

    <div class="columns has-text-centered">
        <div class="column">
            <div class="box">
                <h3 class="subtitle is-5">Managers</h3>
                {% if service.provider|length == 1 %}
                    {% for provider in service.provider %}
                        <a href="#" class="button is-small is-light">{{ provider }}</a>
                    {% endfor %}
                {% else %}
                    {% for provider in service.provider %}
                    <div>
                            <a href="#" class="button is-small is-light">{{ provider }}</a>
                            <a href="{% url 'person:DeleteManager' id=service.id email=forloop.counter0 %}" class="delete is-small"></a>
                    </div>
                    {% endfor %}
                {% endif %}
                <form class="section" method = "POST">
                    {% csrf_token %}
                    <div class="field">
                        <div class="control">
                            {% render_field form1.email type="text" class="input" placeholder="Email" %}
                        </div>
                    </div>
                    <button name="add_manager" class="button is-fullwidth is-info">Add</button>
                </form>

                <!-- MESSAGES -->

                <div class="tag is-medium">
                    {% if error1 %}
                        <div>
                            {% for field in form1 %}
                                {% if field.errors %}
                                    <div class="content">
                                        <p style="color: red;">{{ field.errors | striptags }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% if msg1 %}
                            <div class="content">
                                        <p style="color: red;">{{ msg1 }}</p>
                            </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <div>
                            <div class="content">
                                <p style="color: blue;">Add/Remove Managers</p>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <!-- END MESSAGES -->

            </div>
        </div>

        <div class="column is-6">
            <div class="box">
                <h3 class="subtitle is-5">Manage Service</h3>
                <form class="section has-text-left" method = "POST">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">Service ID</label>
                        <div class="control">
                            {% render_field form.id type="text" class="input is-rounded" placeholder="Service ID" %}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Service Name</label>
                        <div class="control">
                            {% render_field form.name type="text" class="input is-rounded" placeholder="Service Name" %}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Service Type</label>
                        <div class="control">
                            {% render_field form.service_type type="text" class="input is-rounded" placeholder="Service Type" %}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">City</label>
                        <div class="control">
                            {% render_field form.city type="text" class="input is-rounded" placeholder="City" %}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Area</label>
                        <div class="control">
                            {% render_field form.area type="text" class="input is-rounded" placeholder="Area" %}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Address</label>
                        <div class="control">
                            {% render_field form.address type="text" class="input is-rounded" placeholder="Address" %}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Description</label>
                        <div class="control">
                            {% render_field form.description type="textarea" class="textarea" placeholder="List all facilities the hotel provides here. You may provide links and other necessary information that the customer needs to know." %}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Rooms</label>
                        <div class="control">
                            {% render_field form.rooms type="number" class="input is-rounded" placeholder="Number of Rooms" %}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Price (Per Night)</label>
                        <div class="control">
                            {% render_field form.price type="number" class="input is-rounded" placeholder="Price in INR" %}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Check In Time (HH:MM) in 24 Hr Format</label>
                        <div class="control">
                            {% render_field form.check_in type="time" class="input is-rounded" placeholder="Check In (HH:MM)" %}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Check Out Time (HH:MM) in 24 Hr Format</label>
                        <div class="control">
                            {% render_field form.check_out type="time" class="input is-rounded" placeholder="Check Out (HH:MM)" %}
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                            {% render_field form.is_ready type="checkbox" %} READY
                            </label>
                        </div>
                    </div>
                    <button name="edit_service" class="button is-fullwidth is-info">Update</button>
                </form>

                <!-- MESSAGES -->

                <div class="tag is-medium">
                    {% if error %}
                        {% if error == '1' %}
                        <div>
                            <div class="content">
                                <p style="color: red;">{{ msg }}</p>
                            </div>
                        </div>
                        {% endif %}
                    {% elif success %}
                        {% if success == '1' %}
                        <div>
                            <div class="content">
                                <p style="color: green;">{{ msg }}</p>
                            </div>
                        </div>
                        {% endif %}
                    {% else %}
                        <div>
                            <div class="content">
                                <p style="color: blue;">Check READY after filling all details</p>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <!-- END MESSAGES -->
            </div>
        </div>

        <div class="column">
            <div class="box">
                <h3 class="subtitle is-5">Delete Service</h3>
                <form class="section" method = "POST">
                    {% csrf_token %}
                    <div class="field">
                        <div class="control">
                            {% render_field form2.password type="password" class="input" placeholder="Your Password" %}
                        </div>
                    </div>
                    <button name="delete_service" class="button is-fullwidth is-info">Delete</button>
                </form>

                <!-- MESSAGES -->

                <div class="tag is-medium">
                    {% if error2 %}
                        <div>
                            <div class="content">
                                <p style="color: red;">{{ msg2 }}</p>
                            </div>
                        </div>
                    {% else %}
                        <div>
                            <div class="content">
                                <p style="color: blue;">Enter Password to Delete Service</p>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <!-- END MESSAGES -->

            </div>
        </div>
    </div>

{% endblock %}
