{% extends 'base.html' %}
{% load widget_tweaks %}

{% block service_block %}{% if type != 'S' %}style="visibilty: hidden; display: none;"{% endif %}{% endblock %}
{% block admin_block %}{% if type != 'A' %}style="visibilty: hidden; display: none;"{% endif %}{% endblock %}

{% block title_block %}Services{% endblock %}

{% block content_block %}

    <div class="columns has-text-centered">
        <div class="column is-4 is-offset-4">
            <div class="box">
                <h3 class="subtitle is-5">New Service</h3>
                <form class="section" method = "POST">
                    {% csrf_token %}
                    <div class="field">
                        <div class="control">
                            {% render_field form.name type="text" class="input" placeholder="Service Name" %}
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select name="service_type" id="id_service_type">
                                    {% for x, y in form.fields.service_type.choices %}
                                        <option value="{{ x }}">{{ y }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <button name="new_service" class="button is-fullwidth is-primary">Confirm</button>
                </form>

                <!-- MESSAGES -->

                <div class="tag is-medium">
                    {% if error %}
                        <div>
                            <div class="content">
                                <p style="color: red;">{{ msg }}</p>
                            </div>
                        </div>
                    {% else %}
                        <div>
                            <div class="content">
                                <p style="color: blue;">Start a new service</p>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <!-- END MESSAGES -->
            </div>
        </div>
    </div>
    {% if services|length > 0 %}
    <div class="columns has-text-centered">
        <div class="column">
            <div class="box">
                <h3 class="subtitle is-5">Your Bus Services</h3>
                <div>
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                              <th><abbr title="Number">Sr. No.</abbr></th>
                              <th>Name</th>
                              <th>Bus Number</th>
                              <th>Source</th>
                              <th>Destination</th>
                              <th>Departure</th>
                              <th>Arrival</th>
                              <th>Capacity</th>
                              <th></th>
                              <th>Status</th>
                            </tr>
                      </thead>
                      <tbody>
                          {% for service in services %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'person:EditService' id=service.id %}">{{ service.name }}</a></td>
                                <td>{% if service.bus_number != '' %}{{ service.bus_number }}{% else %}-{% endif %}</td>
                                <td>{% if service.route|length > 1 %}{{service.route.0}}{% else %}-{% endif %}</td>
                                <td>{% if service.route|length > 1 %}{% for route in service.route %}
                                                                        {% if forloop.last %}{{route}}{% endif %}
                                                                    {% endfor %}{% else %}-{% endif %}
                                </td>
                                <td>{% if service.timing|length > 1 %}{{service.timing.0}}{% else %}-{% endif %}</td>
                                <td>{% if service.timing|length > 1 %}{% for timing in service.timing %}
                                                                        {% if forloop.last %}{{timing}}{% endif %}
                                                                    {% endfor %}{% else %}-{% endif %}</td>
                                <td>{{ service.seats }}</td>
                                <td><a>View Bookings</a></td>
                                <td>{% if service.is_ready == False %}<span style="color: red;">INACTIVE</span>{% else %}<span style="color: green;">RUNNING</span>{% endif %}</td>
                            <tr>
                          {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="columns has-text-centered">
        <div class="column is-4 is-offset-4">
            <div class="box">
                <div class="message">
                    You do not manage any bus services
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if services1|length > 0 %}
    <div class="columns has-text-centered">
        <div class="column">
            <div class="box">
                <h3 class="subtitle is-5">Your Hotel Services</h3>
                <div>
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                          <th><abbr title="Number">Sr. No.</abbr></th>
                          <th>Name</th>
                          <th>City</th>
                          <th>Area</th>
                          <th>Rooms</th>
                          <th></th>
                          <th>Status</th>
                        </tr>
                  </thead>
                  <tbody>
                      {% for service in services1 %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'person:EditService' id=service.id %}">{{ service.name }}</a></td>
                            <td>{% if service.city != '' %}{{ service.city }}{% else %}-{% endif %}</td>
                            <td>{% if service.area != '' %}{{ service.area }}{% else %}-{% endif %}</td>
                            <td>{% if service.rooms != '' %}{{ service.rooms }}{% else %}-{% endif %}</td>
                            <td><a href="{% url 'hotels:Bookings' id=service.id %}">View Bookings</a></td>
                            <td>{% if service.is_ready == False %}<span style="color: red;">INACTIVE</span>{% else %}<span style="color: green;">RUNNING</span>{% endif %}</td>
                        <tr>
                      {% endfor %}
                  </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="columns has-text-centered">
        <div class="column is-4 is-offset-4">
            <div class="box">
                <div class="notification is-light">
                    You do not manage any hotel services
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
